{% extends 'base/index.html' %}

{% block jumbotron %}
    {% if object_list %}
        {% for restaurant in object_list %}
            <div class="jumbotron" style="background-image: url({{ restaurant.logo.url }});">
                <h1 class="text-center" style="font-family:helvética;"><strong>{{ restaurant.name }}</strong></h1>
              <hr class="my-4">
              <p class="text-center">
              <a class="btn btn-primary btn-lg" href="{% url 'list_product' %}" role="button">Ver productos</a>
              </p>
            </div>
        {% endfor %}
    {% else %}
        <br>
        <h1 class="text-center"><strong> Aun no hay food trucks disponibles</strong></h1>
    {% endif%}
{% endblock jumbotron %}